@media screen and (min-width: 240px) and (max-width: 319px) {
    .book--text {
        width: 80%;
    }

    .genres {
        margin-top: 5%;
        margin-bottom: 45%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 2%;

    }

    .genres__img {
        padding: 20%;
    }

    .genres__title {
        margin-top: 3%;
        width: 85%;
        text-align: center;
        font-size: 2vh;
    }

    .caption {
        font-size: 4.5vh;
    }

    .margin {
        margin: 25% 0%;
    }

    .book__cover--wishlist {
        width: 58px;
    }

    .wishlistbooks {
        margin-bottom: 45%;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .margin {
        margin: 15% 0%;
    }

    .book--text {
        width: 70%;
    }

    .author__name {
        font-size: 2.5vh;
    }

    .genres__title {
        padding-top: 2%;
        width: 80%;
        text-align: center;
        font-size: 2.5vh;
    }



    .genrebook__btn--pink,
    .genrebook__btn--blue,
    .genrebook__btn--rose,
    .genrebook__btn--yellowpink,
    .genrebook__btn--blueyellow,
    .genrebook__btn--reverse {
        padding: 1% 10%;
        margin: 0% 1%;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 2.5vh;
        color: #fff;
    }

    .genres__img {
        width: 82px;
    }

    .book__cover--wishlist {
        width: 108px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .margin {
        margin-top: 8%;
        margin-bottom: 0%;
    }

    .desktopnavbar {
        display: initial;
    }

    .navbar--item,
    .navbar--activeitem {
        font-size: 3vh;
    }

    .bottomnav {
        visibility: hidden;
    }

    .topnav__home {
        font-size: 3.5vh;
    }

    .genres {
        height: 110vh;
        margin-bottom: 0%;
    }



    .article {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .listimg {
        width: 412px;
    }

    .author__image {
        width: 112px;
    }

    .book__cover,
    .book__cover--wishlist {
        width: 212px;
    }

    .genres__img {
        width: 123px;
    }

    .genres__title {
        padding-top: 1%;
        width: 75%;
        text-align: center;
        font-size: 2.5vh;

    }

    .genres {
        height: 100vh;
        margin-top: 5%;
        margin-bottom: 0%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2%;
    }

    .genrebook__btn--pink,
    .genrebook__btn--blue,
    .genrebook__btn--rose,
    .genrebook__btn--yellowpink,
    .genrebook__btn--blueyellow,
    .genrebook__btn--reverse {
        padding: 1% 6%;
        margin: 0% 1%;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 2.5vh;
        color: #fff;
    }

    .book--height {
        width: 199px;
        height: 297px;
    }

    .book--heightsec {
        width: 212px;
        height: 322px;
    }

    .book--heighthird {
        width: 212px;
        height: 321px;
    }

    .wishlistbooks {
        margin-bottom: 15%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1599px) {
    .margin {
        margin-top: 5%;
        margin-bottom: 0%;
    }

    .desktopnavbar {
        display: initial;
    }

    .navbar--item,
    .navbar--activeitem {
        font-size: 3vh;
    }

    .bottomnav {
        visibility: hidden;
    }

    .topnav__home {
        font-size: 3.5vh;
    }

    .navbar--icon {
        margin-right: 2%;
    }

    .greeting {
        margin: 0% 20%;
        text-align: center;
    }

    .listimg {
        width: 512px;
    }

    .article {
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .author__image {
        width: 172px;
    }

    .author__name {
        padding-top: 10%;
        font-size: 2.7vh;
        text-align: center;
        color: black;
    }

    .book__cover {
        width: 312px;
    }

    .genres__img {
        width: 176px;
        border-radius: 10%;
        padding: 25%;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.048);
    }

    .genres__title {
        padding-top: 2%;
        width: 78%;
        text-align: center;
        font-size: 3vh;
    }

    .genrebook__caption {
        text-align: center;
        font-size: 3.5vh;
    }

    .genrebook__btn--pink,
    .genrebook__btn--blue,
    .genrebook__btn--rose,
    .genrebook__btn--yellowpink,
    .genrebook__btn--blueyellow,
    .genrebook__btn--reverse {
        padding: 1% 10%;
        margin: 0% 1%;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 2.5vh;
        color: #fff;
    }

    .book__buy,
    .book__wish {
        font-size: 3.5vh;
        padding: 2%;
        border-radius: 10px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #fff;
    }

    .social {
        margin: 2% 5%;
        display: flex;
        justify-content: center;
    }

    .social a {
        margin: 0% 1%;
    }

    .profilefoto {
        width: 228px;
    }

    .book--height {
        width: 268px;
        height: 439px;
    }

    .book--heightsec {
        width: 298px;
        height: 480px;
    }

    .book--heighthird {
        width: 298px;
        height: 480px;
    }

    .book--heightblock {
        margin-top: 7px;
    }

    .book__cover--wishlist {
        width: 212px;
    }
}

@media screen and (min-width: 1600px) {
    .margin {
        margin-top: 5%;
        margin-bottom: 0%;
    }

    .desktopnavbar {
        display: initial;
    }

    .navbar--item,
    .navbar--activeitem {
        font-size: 3vh;
    }

    .bottomnav {
        visibility: hidden;
    }

    .topnav__home {
        font-size: 3.5vh;
    }

    .navbar--icon {
        margin-right: 2%;
    }

    .greeting {
        margin: 0% 20%;
        text-align: center;
    }

    .listimg {
        width: 512px;
    }

    .article {
        margin-top: 10%;
        margin-bottom: 6%;
    }

    .author__image {
        width: 172px;
    }

    .author__name {
        padding-top: 10%;
        font-size: 2.7vh;
        text-align: center;
        color: black;
    }

    .book__cover {
        width: 312px;
    }

    .genres__img {
        width: 200px;
        border-radius: 10%;
        padding: 25%;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.048);
    }

    .genres__title {
        padding-top: 2%;
        width: 75%;
        text-align: center;
        font-size: 3vh;
    }

    .genrebook__caption {
        text-align: center;
        font-size: 3.5vh;
    }

    .genrebook__btn--pink,
    .genrebook__btn--blue,
    .genrebook__btn--rose,
    .genrebook__btn--yellowpink,
    .genrebook__btn--blueyellow,
    .genrebook__btn--reverse {
        padding: 1% 10%;
        margin: 0% 1%;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 2.5vh;
        color: #fff;
    }

    .book__buy,
    .book__wish {
        font-size: 3.5vh;
        padding: 2%;
        border-radius: 10px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #fff;
    }

    .social {
        margin: 2% 5%;
        display: flex;
        justify-content: center;
    }

    .social a {
        margin: 0% 1%;
    }

    .profilefoto {
        width: 328px;
    }

    .book--height {
        width: 268px;
        height: 439px;
    }

    .book--heightsec {
        width: 298px;
        height: 480px;
    }

    .book--heighthird {
        width: 298px;
        height: 480px;
    }

    .book--heightblock {
        margin-top: 7px;
    }

    .book__cover--wishlist {
        width: 212px;
    }
}