.topnav__home,
.genrebook__caption {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #4F4F4F;
}

.desktopnavbar {
    display: none;
}

html {
    overflow-x: hidden;
}

.topnav__home {
    font-size: 3.5vh;
}

.genrebook__caption {
    text-align: center;
    font-size: 3vh;
}

a:hover {
    text-decoration: none;
}

.margin {
    margin: 25% 0%;
}

.topnav {
    width: 100vw;
    background-color: white;
    box-shadow: 0 7px 0 rgba(0, 0, 0, 0.048);
}

.bottomnav {
    width: 100vw;
    background-color: white;
    box-shadow: 0 -7px 0 rgba(0, 0, 0, 0.048);
}

.bottomnav--item,
.navbar--activeitem,
.navbar--item,
.bottomnav--activeitem,
.greeting__text,
.author__name,
.book__text,
.genres__title,
.book__author,
.book__info,
.book__btn,
.book__buy,
.book__wish,
.book__cost,
.profile__info,
.amount {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.subscribe__num,
.favorgenres__caption {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: black;
}

.subscribe__num:hover {
    color: black;
}

.subscribe__num {
    font-size: 4.5vh;
}

.favorgenres__caption {
    font-size: 3vh;
}

.amount {
    font-size: 2vh;
    color: #53889D;
}

.link {
    display: block;
    text-align: center;
    margin-top: 7%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5vh;
    text-decoration: underline;
    color: #D96F6E;
}

.link:hover {
    text-decoration: underline;
    color: #D96F6E;
}

.subscribe--info {
    align-self: end;
}

.book__text {
    margin: 0%;
    font-size: 2.5vh;
    color: #4F4F4F;
}

.profile__info {
    font-size: 2vh;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    color: #828282;
}

.book__btn {
    font-size: 3.5vh;
    color: #53889D;
}

.book__author {
    font-size: 3.5vh;
    color: #4F4F4F;
}

.book__info {
    font-size: 2.5vh;
    color: #828282;
}

.book__buy,
.book__wish {
    font-size: 3.5vh;
    padding: 3%;
    border-radius: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
}

.book__buy:hover {
    color: #fff;
}

.book__wish:hover {
    color: #fff;
}

.book__buy {
    background-color: #D96F6E;
}

.book__wish {
    background-color: #F3A492;
}

.genres__title {
    padding-top: 2%;
    width: 95%;
    text-align: center;
    font-size: 2.5vh;
    color: #4F4F4F
}

.bottomnav--item {
    font-size: 2vh;
    color: #BBD1D9;
}

.navbar--item {
    color: #BBD1D9;
}

.navbar--activeitem {
    color: #53889D;
}

.navbar--item:hover,
.navbar--activeitem:hover {
    color: #53889D;
}

.bottomnav--activeitem {
    font-size: 2vh;
    color: #53889D;
}

.greeting__text {
    font-size: 3.4vh;
}

.bottomnav__link {
    height: 8vh;
    text-align: center;
}

.greeting {
    background-color: white;
}

.greeting__caption,
.caption,
.book__caption,
.profile_caption {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
}

.book__caption {
    margin: 0%;
    font-size: 3vh;
    color: black;
}

.profile_caption {
    font-size: 6vh;
}

.greeting__caption {
    font-size: 7vh;
}

.caption {
    font-size: 5vh;
}

.slick-track {
    display: flex;
}

.article {
    margin-top: 15%;
    margin-bottom: 10%;
}


.author__name {
    width: 76%;
    padding-top: 10%;
    font-size: 2vh;
    text-align: center;
    color: black;
}

.slidertop {
    margin-top: 10%;
}

.slider__item--padding {
    padding-top: 10px;
    padding-left: 15px;
}

.genres {
    margin-top: 5%;
    margin-bottom: 35%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2%;
}

.genres__img {
    width: 62px;
    border-radius: 10%;
    padding: 25%;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.048);
}

.book {
    display: grid;
    justify-content: center;
    text-align: center;
}

.book__image {
    justify-self: center;
}

#more {
    display: none;
}

.genrebook__btn {
    display: flex;
    justify-content: center;
}

.favorgenres__btn {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.genrebook {
    margin: 8% 3%;
}

.genrebook__btn--pink,
.genrebook__btn--blue,
.genrebook__btn--rose,
.genrebook__btn--yellowpink,
.genrebook__btn--blueyellow,
.genrebook__btn--reverse {
    padding: 1% 6%;
    margin: 0% 1%;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.2vh;
    color: #fff;
}

.genrebook__btn--pink:hover,
.genrebook__btn--blue:hover,
.genrebook__btn--rose:hover,
.genrebook__btn--yellowpink:hover,
.genrebook__btn--blueyellow:hover,
.genrebook__btn--reverse:hover {
    color: #fff;
}

.genrebook__btn--pink {
    background: linear-gradient(to right, #F2D05C, #F3A492);
}

.genrebook__btn--reverse {
    background: linear-gradient(to left, #F2D05C, #F3A492);
}

.genrebook__btn--blue {
    background: linear-gradient(to right, #53889D, #d2e3eb);
}

.genrebook__btn--blueyellow {
    background: linear-gradient(to left, #BBD1D9, #F2D05C);
}

.genrebook__btn--rose {
    background: linear-gradient(to right, #F3A492, #D96F6E);
}

.social {
    margin: 2% 5%;
    display: flex;
    justify-content: space-evenly;
}

.similar__margin {
    margin-top: 6%;
}

.book__cost {
    font-size: 2.5vh;
    color: #D96F6E;
}

.subscribe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 40%);
    justify-content: space-evenly;
}

.wishlist__column {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.wishlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.article__img {
    max-width: 100%;
}

.wishlistbooks {
    margin-bottom: 30%;
}

.listimg {
    width: 216px;
}

.author__image {
    width: 48px;
}

.book__cover {
    width: 143px;
}

.profilefoto {
    width: 128px;
}

.book--height {
    width: 128px;
    height: 201px;
}

.book--heightsec {
    width: 130px;
    height: 220px;
}

.book--heighthird {
    width: 145px;
    height: 219px;
}

.book__cover--wishlist {
    width: 78px;
}