.topnav__home,
.genrebook__caption {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #4F4F4F;
}

.topnav__home {
    font-size: 3.5vh;
}

.genrebook__caption {
    text-align: center;
    font-size: 3vh;
}

a:hover {
    text-decoration: none;
}

.margin {
    margin: 20% 0%;
}

.topnav {
    width: 100vw;
    background-color: white;
    box-shadow: 0 7px 0 rgba(0, 0, 0, 0.048);
}

.bottomnav {
    width: 100vw;
    background-color: white;
    box-shadow: 0 -7px 0 rgba(0, 0, 0, 0.048);
}

.bottomnav--item,
.bottomnav--activeitem,
.greeting__text,
.author__name,
.book__text,
.genres__title,
.book__author,
.book__info,
.book__btn,
.book__buy,
.book__wish {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.book__text {
    margin: 0%;
    font-size: 2.5vh;
    color: #4F4F4F;
}

.book__btn {
    font-size: 3.5vh;
    color: #53889D;
}

.book__author {
    font-size: 3.5vh;
    color: #4F4F4F;
}

.book__info {
    font-size: 2.5vh;
    color: #828282;
}

.book__buy,
.book__wish {
    font-size: 3.5vh;
    padding: 3%;
    border-radius: 10px;
    text-transform: uppercase;
    color: #fff;
}

.book__buy:hover {
    color: #fff;
}

.book__wish:hover {
    color: #fff;
}

.book__buy {
    background-color: #D96F6E;
}

.book__wish {
    background-color: #F3A492;
}

.genres__title {
    padding-top: 2%;
    width: 95%;
    text-align: center;
    font-size: 2.5vh;
    color: #4F4F4F
}

.bottomnav--item {
    font-size: 2vh;
    color: #BBD1D9;
}

.bottomnav--activeitem {
    font-size: 2vh;
    color: #53889D;
}

.greeting__text {
    font-size: 3.4vh;
}

.bottomnav__link {
    height: 8vh;
    text-align: center;
}

.greeting {
    background-color: white;
}

.greeting__caption,
.caption,
.book__caption {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
}

.book__caption {
    margin: 0%;
    font-size: 3vh;
    color: black;
}

.greeting__caption {
    font-size: 7vh;
}

.caption {
    font-size: 5vh;
}

.slick-track {
    display: flex;
}

.article {
    margin-top: 15%;
    margin-bottom: 10%;
}


.author__name {
    width: 76%;
    padding-top: 10%;
    font-size: 2vh;
    text-align: center;
    color: black;
}

.slidertop {
    margin-top: 10%;
}

.slider__item--padding {
    padding-top: 10px;
    padding-left: 15px;
}

.slider__item--margin {
    margin-right: 6px;
}

.cover--padding {
    padding-bottom: 10px;
}

.genres {
    margin-top: 5%;
    margin-bottom: 35%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2%;
}

.genres__img {
    border-radius: 10%;
    padding: 25%;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.048);
    ;
}

.book {
    display: grid;
    justify-content: center;
    text-align: center;
}

.book__image {
    justify-self: center;
}

#more {
    display: none;
}

.genrebook__btn {
    display: flex;
    justify-content: center;
}

.genrebook {
    margin: 8% 3%;
}

.genrebook__btn--pink,
.genrebook__btn--blue {
    padding: 1% 7%;
    margin: 0% 2%;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.2vh;
    color: #fff;
}

.genrebook__btn--pink:hover,
.genrebook__btn--blue:hover {
    color: #fff;
}

.genrebook__btn--pink {
    background: linear-gradient(to right, #F2D05C, #F3A492);
}

.genrebook__btn--blue {
    background: linear-gradient(to right, #53889D, #d2e3eb);
}

.social {
    margin: 2% 5%;
    display: flex;
    justify-content: space-evenly;
}