.topnav__home {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3.5vh;
    color: #4F4F4F;
}

a:hover {
    text-decoration: none;
}

.margin {
    margin: 20% 0%;
}

.topnav {
    width: 100vw;
    background-color: white;
    box-shadow: 0 7px 0 rgba(0, 0, 0, 0.048);
}

.bottomnav {
    width: 100vw;
    background-color: white;
    box-shadow: 0 -7px 0 rgba(0, 0, 0, 0.048);
}

.bottomnav--item,
.bottomnav--activeitem,
.greeting__text,
.author__name,
.book__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.book__text {
    margin: 0%;
    font-size: 2.5vh;
    color: #4F4F4F;
}

.bottomnav--item {
    font-size: 2vh;
    color: #BBD1D9;
}

.bottomnav--activeitem {
    font-size: 2vh;
    color: #53889D;
}

.greeting__text {
    font-size: 3.4vh;
}

.bottomnav__link {
    height: 8vh;
    text-align: center;
}

.greeting {
    background-color: white;
}

.greeting__caption,
.caption,
.book__caption {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
}

.book__caption {
    margin: 0%;
    font-size: 3vh;
    color: black;
}

.greeting__caption {
    font-size: 7vh;
}

.caption {
    font-size: 5vh;
}

.slick-track {
    display: flex;
}

.article {
    margin-top: 15%;
}


.author__name {
    width: 76%;
    padding-top: 10%;
    font-size: 2vh;
    text-align: center;
    color: black;
}

.slidertop {
    margin-top: 10%;
}

.book {
    height: 100%;
}

.slider__item--padding {
    padding-top: 10px;
    padding-left: 10px;
}

.cover--padding {
    padding-bottom: 10px;
}

.book {
    width: 90%;
    height: 20%;
    margin-left: 0%;
    padding-left: 8px;
}

.book--problem {
    margin-left: 0%;
}